geoai-env/
*.pyc
catboost_info/
__pycache__/
*.log
*.log.*
*.log-*
raster_files/*.tif.aux.xml
raster_files/*.tif.ovr
raster_files/*.tif.xml
raster_files/*.tif.aux
raster_files/*.tif
!raster_files/QC_2018_2023.tif
!raster_files/
!csv_files/
csv_files/*.csv
semantic_segmentation/data/
semantic_segmentation/test/
semantic_segmentation/train/
semantic_segmentation/val/
semantic_segmentation/trained_models/
!semantic_segmentation/figures/
trained_models/se_resnext50_32x4d-a260b3a4.pth


